<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .header a {
    font-weight: bold;
    margin: 20px;
    display: inline-block;
  }
</style>
<div class='header'>
  <a href='/'> Fossport </a>
</div>